name: Build Platform (C++)

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:  # Manual trigger only

jobs:
  build-cheats:
    name: Build CS2 External
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Setup CMake
      uses: lukka/get-cmake@latest
        
    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release
      
    - name: Build
      run: cmake --build build --config Release --parallel
      
    # Download real driver during build (GitHub Actions has internet!)
    - name: Download Vulnerable Driver
      run: |
        curl -L -o build/cheats/cs2/Release/iqvw64e.sys https://github.com/TheCruZ/kdmapper/raw/master/kdmapper/iqvw64e.sys
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Externa_CS2
        path: |
          build/cheats/cs2/Release/*.exe
          build/cheats/cs2/Release/iqvw64e.sys
        if-no-files-found: ignore
