name: Build Externa Rust V2

on:
  push:
    paths:
      - 'cheats/externa-rust-v2/**'
      - '.github/workflows/rust-release.yml'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust Stable
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: x86_64-pc-windows-msvc
    
    - name: Build Release
      working-directory: cheats/externa-rust-v2
      run: cargo build --release
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Externa-CS2-v2
        path: cheats/externa-rust-v2/target/release/externa-rust-v2.exe

